@model dynamic
<select name="PhotoType">
    <option value="Thumb">Thumb</option>
    <option value="Main">Main</option>
    <option value="HiRes">HiRes</option>
</select>
<input type="file" name="File" id="Photo" />
<br />