@{
    ViewBag.Title = "Contact";
}
@section Scripts
{
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/jquery.ui.tabs.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Signika:400,700|Norican' rel='stylesheet' type='text/css'>
	
    <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="~/Content/js/jquery.menu.pack.js"></script>
    <script src="~/Content/js/hover.zoom.js"></script>
    <script src="~/Content/js/settings-inner.js"></script>
	
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
	
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                zoom: 3,
                center: new google.maps.LatLng(32.3, 0),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById("map_canvas"),
                mapOptions);

            setMarkers(map, shops);
        }

        /**
	    * Data for the markers consisting of a name, a LatLng and a zIndex for
	    * the order in which these markers should display on top of each
	    * other.
	    */
        var shops = [
            ['Newmarket', 52.244879, 0.407961, 1],
            //['New York', 40.759473, -73.976304, 2],
            ['Lagos', 6.431131, 3.413802, 2]
        ];

        function setMarkers(map, locations) {
            // Add markers to the map

            // Marker sizes are expressed as a Size of X,Y
            // where the origin of the image (0,0) is located
            // in the top left of the image.

            // Origins, anchor positions and coordinates of the marker
            // increase in the X direction to the right and in
            // the Y direction down.
            var image = new google.maps.MarkerImage('/Content/images/marker.png',
                // This marker is 20 pixels wide by 32 pixels tall.
                new google.maps.Size(21, 24),
                // The origin for this image is 0,0.
                new google.maps.Point(0, 0),
                // The anchor for this image is the base of the flagpole at 0,32.
                new google.maps.Point(0, 24));
            var shadow = new google.maps.MarkerImage('/Content/images/marker-shadow.png',
                // The shadow image is larger in the horizontal dimension
	            // while the position and offset are the same as for the main image.
                new google.maps.Size(32, 12),
                new google.maps.Point(0, 0),
                new google.maps.Point(0, 12));
            // Shapes define the clickable region of the icon.
            // The type defines an HTML <area> element 'poly' which
            // traces out a polygon as a series of X,Y points. The final
            // coordinate closes the poly by connecting to the first
            // coordinate.
            var shape = {
                coord: [1, 1, 1, 20, 18, 20, 18, 1],
                type: 'poly'
            };
            for (var i = 0; i < locations.length; i++) {
                var shop = locations[i];
                var myLatLng = new google.maps.LatLng(shop[1], shop[2]);
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    shadow: shadow,
                    icon: image,
                    shape: shape,
                    title: shop[0],
                    zIndex: shop[3]
                });
            }
        }

    </script>
}

<!-- MAIN CONTENT START -->

@section BodyTag
{
    onload="initialize()"
}

	<section class="main wrapper">
	
		<section class="map">
			<div id="map_canvas" style="width:100%; height:100%"></div>
		</section>
	
		<article class="contact">
			<h2>Contact Form</h2>
			<form>
				<dl>
					<dt><label for="firstname">First name:</label></dt>
					<dd><input type="text" name="First Name" id="firstname" placeholder="John" required></dd>
					<dt><label for="surname">Surname:</label></dt>
					<dd><input type="text" name="Surname" id="surname" placeholder="Doe" required></dd>
					<dt><label for="email">Email:</label></dt>
					<dd><input type="email" name="Email" id="email" placeholder="john.doe@email.com" required></dd>
					<dt><label for="phone">Phone:</label></dt>
					<dd><input type="tel" name="Phone" id="phone" placeholder="+234 123456789"></dd>
					<dt><label for="subject">Subject:</label></dt>
					<dd>
						<select name="Subject" id="subject">
							<option selected>- - Choose one - -</option>
							<option>Delivery question</option>
							<option>Shipping cost</option>
							<option>Warranty</option>
							<option>Money back</option>
						</select>
					</dd>
					<dt><label for="issues">Issues:</label></dt>
					<dd>
						<select name="Issues" id="issues" multiple>
							<option>Delivery question</option>
							<option>Shipping cost</option>
							<option>Warranty</option>
							<option>Money back</option>
						</select>
					</dd>
					<dt>Contact me by:</dt>
					<dd class="multi">
						<input type="checkbox" name="Phone" id="contact-phone"><label for="contact-phone">phone</label>
						<input type="checkbox" name="Email" id="contact-email"><label for="contact-email">email</label>
						<input type="checkbox" name="Email" id="contact-post"><label for="contact-post">post</label>
					</dd>
					<dt>I'm interested in:</dt>
					<dd class="multi">
						<input type="radio" name="Hats" id="hats"><label for="hats">hats</label>
						<input type="radio" name="Sunglasses" id="sunglasses"><label for="sunglasses">sunglasses</label>
						<input type="radio" name="Trousers" id="trousers"><label for="trousers">trousers</label>
					</dd>
					<dt><label for="message">Message</label></dt>
					<dd><textarea name="Message" id="message" placeholder="Your message here" required></textarea></dd>
					<dt></dt>
					<dd><input type="submit" class="red" value="Submit"></dd>
				</dl>
			</form>
		</article>
		
		<article class="address">
			<h2>Write, Call or Visit Us</h2>
			<address>
				<p><strong>Newmarket, UK - Headquarters</strong></p>
				<p>4 Millbank<br>
				Newmarket<br>
				Suffolk.<br>
				CB8 0EQ</p>
				United Kingdom
				<p><strong>Phone:</strong> +44 01638 602 352<br>
				<strong>Email:</strong> <a href="mailto:info@magsolutionslimited.co.uk">info@magsolutionslimited.co.uk</a></p>
			</address>
			<address>
				<p><strong>Lagos, Nigeria</strong></p>
				<p>416 Ahmadu Bello Way<br>
				Lagos<br>
				Nigeria</p>
				<p><strong>Phone:</strong> +234 700 800 900<br>
				<strong>Email:</strong> <a href="mailto:info@magsolutionslimited.co.uk">info@magsolutionslimited.co.uk</a></p>
			</address>
		</article>
				
		<div class="clear"></div>

	</section><!-- .main end -->

<!-- MAIN CONTENT END -->
