@model dynamic
<select name="PhotoType">
    <option value="Thumb">Thumb</option>
    <option value="Feature">Feature</option>
    <option value="HiRes">HiRes</option>
</select>
<input type="file" name="UploadedImages" id="Photo" />
<br />