@using RavenDbMembership.Entities
@using RavenDbMembership.Infrastructure
@{
    var shop = HttpContext.Current.Application["Shop"] as Shop;
    var shoppingCart = ((User) HttpContext.Current.Session["CurrentUser"]).ShoppingCart;

    IEnumerable<Product> products = null;
    foreach (var productId in shoppingCart.Products)
    {
        products = shop.GetCoordinator<Product>().List().Where(x=>x.Id==productId).ToList();
    }

    decimal total;
    try
    {
        total = products.Sum(x => x.Price);
    }
    catch (Exception e)
    {
         total = 0;
    }

    <ul>
        <li class="cart-title"><a href="#">Shopping Cart:</a></li>
        <li class="cart-price"><a href="#">£@total.ToString("0.00")</a></li>
        <li class="cart-items"><a href="#">@shoppingCart.Products.Count items</a></li>
        @if (Request.IsAuthenticated)
        {
            <li class="cart-login">
                @if (User.IsInRole("Administrator")){
                @Html.ActionLink("Manage Shop", "Manage", "Shop")
                }
            </li>
            <li class="cart-login">
                @Html.ActionLink("Log out " + Context.User.Identity.Name, "LogOff", "Account", null, new {id = "loginLink"})
            </li>
            <li><a href="#" id="button">Account</a></li>
        }
        else
        {
            <li class="cart-login">
                @Html.ActionLink("Log in", "LogOn", "Account", null, new {id = "loginLink"})
            </li>
        }
    </ul>
}
